<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.data.translations[site.active_lang].ctatitle }}</h2>
                <hr class="light">
                <p class="text-faded">{{ site.data.translations[site.active_lang].ctainfo }}</p>
                <a href="#contact" class="btn btn-default btn-xl">{{ site.data.translations[site.active_lang].gotocontactus }}</a>
            </div>
        </div>
    </div>
</section>
