<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">{{ site.data.translations[site.active_lang].tooglenav }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">{% for mylan in site.languages %}
                <li><a {% if mylan == site.active_lang %}style="text-decoration: underline;"{% endif %} href={% if mylan == site.default_lang %}"{{site.baseurl}}{{page.url}}{% else %}"{{site.baseurl}}/{{ mylan }}{{page.url}} {% endif %}">{{ mylan }}</a></li>{% endfor %}{% for menu in site.data.navbar[site.active_lang] %}
                <li><a class="page-scroll" href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>{% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
